.header {
    width: 100%;
    height:90px;
    background-color: palevioletred;
    text-align: center;
   
}
h1
{
    color: yellow;
     border: 3px solid #FFFF00;
}
.headerp1 {
font-weight : 700;
}
#Panel1 { 
    
    float: left;
    width: 48%;
    background-color: aqua;
}
#Panel2 {
    width: 48%;
    float: right;
    background-color: aqua;
}
#lblRep2{
    background-color: blueviolet;
}
#Lb1
{
    font-size:32px;
    font-weight:500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
